FE_URL: 
    - http://localhost:3000
    - http://localhost:3001

IS_HTTPS: false # false, true
SAME_SITE: none # none, lax, strict 

# jwt key 
ACCESS_TOKEN_KEY: xxxxxx
ACCESS_TOKEN_EXPIRE_MINUTES: 20

REFRESH_TOKEN_KEY: xxxxxx
REFRESH_TOKEN_EXPIRE_DAYS: 15

ALGORITHM_HASH: HS256

# user
MAX_FAILED_LOGIN_ATTEMPTS: 5
LOCK_DURATION_MINUTES: 30

# email
EMAIL_USER: xxx@gmail.com
EMAIL_PASSWORD: xxxxxxx

# log level 
LOG_LEVEL: DEBUG # DEBUG, INFO, WARNING, ERROR, CRITICAL

# environment
ENVIRONMENT: "DEVELOPMENT" # DEVELOPMENT, PRODUCTION

# database 
# note : "user" is user who own "db"
DATABASE_URL: postgresql+asyncpg://user:password@localhost:5432/db
MIGRATION_DATABASE_URL: postgresql://user:password@localhost:5432/db 

